# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\__EX\__SPRING_BOOT\trunk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
